html,
body {
    margin: 0;
    padding: 0;
    font-family:  'Calibri', 'Trebuchet MS', sans-serif;
}
body{
     background-color: rgb(226, 226, 228);
}
.container {
    width: 570px;
    margin: 0 auto;
    /* border: 2px solid red; */
    background-color: white;
}
.post-image {
    width: 570px;
}
#logo {
    width: 170px;
}

#borhan {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header {
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
p{
    font-size: 20px;
}
.head p {
    margin-top: 0;
}
h3 {
    margin-top: 10px;
    margin-bottom: 0;
}
.post {
    /* padding-left: 10px; */
    border-top: 2px solid  rgb(226, 226, 228);
    border-bottom: 33px solid  rgb(226, 226, 228);

}
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    padding: 0px 10px;

}
h2 {
    margin-top: 0;
}
.icon {
    width: 44px;
    height: 45px;
    padding: 20px 10px 0 10px;
}
.icon:hover, .icon:focus {
    opacity: 50%;
}
.post h3, p {
    padding-left: 20px;
}
.post > p {
    margin-top: 10px;
}
